
<div class="login-content">
<!-- Login -->
<div class="nk-block toggled" id="l-login">
        <center><h2>HIGHWAY MANAGEMENT SYSTEM</h2></center>
         
<form class="form-horizontal" id="my_form" action="/changePassword" method="POST" enctype="multipart/form-data">

    <div class="nk-form" style="text-align: left;">
 
        <div class="input-group">
            <span>Enter Previous Password</span>
           
            <div class="nk-int-st">
                <input type="password" class="form-control"  name="previous_password">
            </div>
        </div>
        <div class="input-group mg-t-15">
              <span>Enter New Password</span>
            
            <div class="nk-int-st">
                <input type="password" class="form-control"  name="new_password">
            </div>
        </div>
        <a href="javascript:document.getElementById('my_form').submit();" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></a>
        {{!-- <a href="#l-register" data-ma-action="nk-login-switch" data-ma-block="#l-register" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></a> --}}
    </div>
</form>
</div>

<!-- Register -->

    
</div>


<!-- Login Register area End-->



