<!-- Server time start-->
    <div class="visitor-sv-tm-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int">
                        <div class="contact-hd mg-bt-ant-inner">
                            <h2>Jabi Road Renovation</h2>
                            <p>Current progress of the jabi road renovation plan</p>
                        </div>
                        <div class="visitor-sv-tm-ch">
                            <div id="visit-server-time" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int sm-res-mg-t-30">
                        <div class="contact-hd mg-bt-ant-inner server-sts-rgt">
                            <h2>Jebba Road Construction </h2>
                            <p>Current progress of the Jebba Road Construction plan</p>
                        </div>
                        <div class="visitor-st-ch">
                            <div id="dynamic-chart" class="flot-chart widget-dynamic-chart ant-ctn-dyn"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="contact-hd mg-bt-ant-inner">
                            <h2>Gwagwalada Road Renovation</h2>
                            <p>Graphical representation of the Gwagwalada road project</p>
                        </div>
                        <div class="visitor-st-ch visitor-ov-ct">
                            <div id="visit-over-time" class="flot-chart"></div>
                            <div class="flc-visits"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Server time End-->
    <!-- Search Engine Start-->
    