<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{first_title}}</h3> </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Wallet Balance: ${{location}}</a></li>
            <li class="breadcrumb-item active">{{first_title}}</li>
        </ol>
    </div>
</div>