<!-- News -->

	<div class="breaking_news d-flex flex-row align-items-start justify-content-start">
		<div class="breaking_news_title text-right">Breaking News</div>
		<div class="breaking_news_content">
			<div class="breaking_news_slider_container">
				<div class="owl-carousel owl-theme breaking_news_slider">
					<!-- Slide -->
					<div class="breaking_news_slide">Register Today and Start making money<span><a href="/register">REGISTER</a></span></div>
					<!-- Slide -->
					<div class="breaking_news_slide">Napoleon Bonarpart algorithms is in 100% for the past 1 week <span><a href="/register">REGISTER</a></span></div>
					<!-- Slide -->
					<div class="breaking_news_slide">Upcomming algorithms Admiral Horatio Nelson Prediction Algorithm <span><a href="/register">REGISTER</a></span></div>
				</div>
			</div>
		</div>
	</div>
