<!-- Slide -->
<div class="home_slide">
	<div class="background_image" style="background-image:url(/sportsteam/images/{{image_name}})"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<div class="home_content" data-animation-in="zoomInDown" data-animation-out="animate-out fadeOut">
						<div class="home_text d-flex flex-row align-items-center justify-content-start">
							<div>{{number}}</div>
							<span>{{header_text}}</span>
						</div>
						<div class="next_match">
							<div>
								<div class="next_match_home">
									<a href="/sportsteam/#">{{sub_header_text}}</a>
								</div>
								<div class="next_match_guest">
									<a href="/sportsteam/#">Bet Algos</a>
								</div>
							</div>
							{{!-- <div class="vs">vs</div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Slide -->