<!-- CTA -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
						<div class="cta_text">Let the Algorithms <span>Work for you</span></div>
						<div class="cta_button button ml-md-auto"><a href="/login">Join Us Today</a></div>
					</div>
				</div>
			</div>
		</div>			
	</div>
	