<div class="milestones">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/sportsteam/images/milestones.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row milestones_row">
			
			<!-- Milestone -->
						<!-- Milestone -->
			<div class="col-xl-4 col-md-6 milestone_col">
				<div class="milestone d-flex flex-row align-items-start justify-content-start">
					<div class="milestone_icon"><img src="/sportsteam/images/icon_2.svg" alt="https://www.flaticon.com/authors/freepik"></div>
					<div class="milestone_content">
						<div class="milestone_counter" data-end-value="95">0</div>
						<div class="milestone_title">Average Percentage Prediction Accuracy</div>
						<div class="milestone_subtitle">Current Algorithms Prediction Accuracy </div>
					</div>
				</div>
			</div>

			<!-- Milestone -->
			<div class="col-xl-4 col-md-6 milestone_col">
				<div class="milestone d-flex flex-row align-items-start justify-content-start">
					<div class="milestone_icon"><img src="/sportsteam/images/icon_3.svg" alt="https://www.flaticon.com/authors/freepik"></div>
					<div class="milestone_content">
						<div class="milestone_counter" data-end-value="2000">0</div>
						<div class="milestone_title">Amount Deposited</div>
						<div class="milestone_subtitle">More than 2000 dollars deposited everyday for Algorithm subscriptions</div>
					</div>
				</div>
			</div>

			<!-- Milestone -->
			<div class="col-xl-4 col-md-6 milestone_col">
				<div class="milestone d-flex flex-row align-items-start justify-content-start">
					<div class="milestone_icon"><img src="/sportsteam/images/icon_4.svg" alt="https://www.flaticon.com/authors/freepik"></div>
					<div class="milestone_content">
						<div class="milestone_counter" data-end-value="5">0</div>
						<div class="milestone_title">Average Odds Per-day</div>
						<div class="milestone_subtitle">We provide you with the highest and Surest Odds</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>