	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_title"><h1>Our Algorithms</h1></div>
						<div class="section_subtitle">Check out our recent Algorithms</div>
					</div>
				</div>
			</div>
			<div class="row news_row">
				
				<!-- News Post -->
				<div class="col-lg-4">
					<div class="news_post">
						<div class="news_post_image">
							<img src="/sportsteam/images/news_1.jpg" alt="">
							<div class="news_post_date">
								<a href="/register">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div>93</div>
										<div>percent</div>
									</div>
								</a>	
							</div>
						</div>
						<div class="news_post_content">
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li><a href="/register">Info</a></li>
								</ul>
							</div>
							<div class="news_post_title"><a href="/sportsteam/blog.html">Napoleon Bonapart Prediction Algorithm</a></div>
							<div class="news_post_text">
								<p>"Until your spread your wings, you will have no idea how far you can fly".A very Flexible and Intelligent Algorithm created to Select High odds with the lowest Risk. An Algorithm built upon Napoleon Bonapart Battle Algorithm</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-lg-4">
					<div class="news_post">
						<div class="news_post_image">
							<img src="/sportsteam/images/news_2.jpg" alt="">
							<div class="news_post_date">
								<a href="/register">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div>95</div>
										<div>percent</div>
									</div>
								</a>	
							</div>
						</div>
						<div class="news_post_content">
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li><a href="/register">Info</a></li>
								</ul>
							</div>
							<div class="news_post_title"><a href="/sportsteam/blog.html">Alexander The Great Prediction Algorithm</a></div>
							<div class="news_post_text">
								<p>"I am Not Afraid of a Army of Lion Led by a Sheep; But a Army of Sheep Led by a Lion".A very Flexible, smart, relentless Algorithm created to Select High odds with a very low risk ratio. An Algorithm built upon Alexander The great's Battle formation</p>
							</div>
						</div>
					</div>
				</div>

				<!-- News Post -->
				<div class="col-lg-4">
					<div class="news_post">
						<div class="news_post_image">
							<img src="/sportsteam/images/news_3.jpg" alt="">
							<div class="news_post_date">
								<a href="/register">
									<div class="d-flex flex-column align-items-center justify-content-center">
										<div>96</div>
										<div>percent</div>
									</div>
								</a>	
							</div>
						</div>
						<div class="news_post_content">
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
									<li><a href="/register">Info</a></li>
								</ul>
							</div>
							<div class="news_post_title"><a href="/sportsteam/blog.html">Zhuge Liange Prediction Algorithm</a></div>
							<div class="news_post_text">
								<p>"The wise wins before they fight, while the ignorant fights to Win". A very Smart Prediction Algorithm, built to manage risk and select the best Odds for you. An Algorithm built upon Zhuge Liange's 8-docked Formation</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
