<!-- Upcoming & Latest -->

	<div class="upcoming_latest">
		<div class="container">
			<div class="row">
				<!-- Upcoming Events -->
			<div class="col-xl-6">
					<div class="section_title_container">
						<div class="section_title light"><h1>Todays Predictions</h1></div>
						<div class="section_subtitle">Home Team Wins</div>
					</div>
					<div class="custom_list_b">
						<ul>
							{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
							{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
							{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
							{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
							
						</ul>
					</div>
				</div>

				<!-- Latest Games -->
				<div class="col-xl-6 custom_lists_col">
					<div class="section_title_container">
						<div class="section_title light"><h1>Todays Predictions</h1></div>
						<div class="section_subtitle">Away Team Wins</div>
					</div>
					<div class="custom_list_b">
					<ul>
						{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
						{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
						{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
						{{>score home_team="Arsenal" away_team="Manchester Utd" scores="8-3" league_name="English Premiership" time="8:30"}}
						
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->
